<div class="sps-table-wrap">
  <table class="table table-sm table-hover align-middle mb-0 sps-sticky-table" id="sps-table">
    <thead id="sps-table-thead">
      <tr>
        <!-- MAIN CHECKBOX -->
        <th class="sticky-col-0">
          <input class="form-check-input m-0" type="checkbox" id="sps-check-all">
        </th>

        <!-- FIRST 3 STICKY DATA COLS (SailLine, Line, Seq) -->
        <th class="sticky-col-1">SailLine</th>
        <th class="sticky-col-2">Line</th>
        <th class="sticky-col-3 num">Seq</th>

        <!-- REST -->
        <th class="num">Attempt</th>
        <th class="num">FSP</th>
        <th class="num">FGSP</th>
        <th class="num">LGSP</th>
        <th class="num">LSP</th>


        <th class="num">Length</th>
        <th class="num" title="Length of preplot line">Preplot Len.</th>
        <th class="num" title="Percentage of Line completed">% Line</th>
        <th class="num" title="Percentage of Seq completed">% Sec</th>
        <th class="num" title="Production shots per seq">Production</th>
        <th class="num" title="Non-Production shots per seq">Non-Production</th>
        <th class="num" title="Killed (K, X) shots per seq">Kill</th>
        <th class="num" title="Minmal Gun depth">GD Min</th>
        <th class="num" title="Max Gun depth">GD Max</th>
        <th class="num" >WD Min</th>
        <th class="num" title="Max. Water depth">WD Max</th>

        <th class="num" title="Length of seq">SeqLenPercentage</th>
        <th class="num" title="Max interval in meters between nearest Production SP">MaxSPI</th>
        <th class="num">StartX</th>
        <th class="num">StartY</th>
        <th class="num">EndX</th>
        <th class="num">EndY</th>
        <th>SOL,time</th>
        <th>FGSP,Time</th>
        <th>LGSP,Time</th>
        <th>EOL,time</th>

      </tr>
    </thead>
    <tbody id="sps-table-tbody">
       {{ sps_summary|safe }}
    </tbody>
  </table>
</div>