<div class="sps-shot-compare-wrap border rounded">
  <div class="sps-shot-compare-scroll">
    <table id="sps-shot-compare-table" class="table table-sm table-hover align-middle mb-0 swl-compare-table">
      <thead class="swl-compare-header">
        <tr>
          <th colspan="2">SailLine</th>
          <th colspan="2">Line</th>
          <th colspan="2">Attempt</th>
          <th colspan="2">Seq</th>
          <th colspan="2">Point</th>
          <th colspan="2">PointCode</th>
          <th colspan="2">FireCode</th>
          <th colspan="2">ArrayCode</th>
          <th colspan="2">PointDepth</th>
          <th colspan="2">WaterDepth</th>
          <th colspan="2">Easting</th>
          <th colspan="2">Northing</th>
          <th colspan="2">Elevation</th>
          <th colspan="2">Day</th>
          <th colspan="2">Hour</th>
          <th colspan="2">Minute</th>
          <th colspan="2">Second</th>
          <th colspan="2">Microsecond</th>
          <th colspan="2">Year</th>
          <th rowspan="2">Diff</th>
        </tr>
        <tr>
          <th class="th-sps">SPS</th><th class="th-shot">SHOT</th>
          <th class="th-sps">SPS</th><th class="th-shot">SHOT</th>
          <th class="th-sps">SPS</th><th class="th-shot">SHOT</th>
          <th class="th-sps">SPS</th><th class="th-shot">SHOT</th>
          <th class="th-sps">SPS</th><th class="th-shot">SHOT</th>
          <th class="th-sps">SPS</th><th class="th-shot">SHOT</th>
          <th class="th-sps">SPS</th><th class="th-shot">SHOT</th>
          <th class="th-sps">SPS</th><th class="th-shot">SHOT</th>
          <th class="th-sps">SPS</th><th class="th-shot">SHOT</th>
          <th class="th-sps">SPS</th><th class="th-shot">SHOT</th>
          <th class="th-sps">SPS</th><th class="th-shot">SHOT</th>
          <th class="th-sps">SPS</th><th class="th-shot">SHOT</th>
          <th class="th-sps">SPS</th><th class="th-shot">SHOT</th>
          <th class="th-sps">SPS</th><th class="th-shot">SHOT</th>
          <th class="th-sps">SPS</th><th class="th-shot">SHOT</th>
          <th class="th-sps">SPS</th><th class="th-shot">SHOT</th>
          <th class="th-sps">SPS</th><th class="th-shot">SHOT</th>
          <th class="th-sps">SPS</th><th class="th-shot">SHOT</th>
        </tr>
      </thead>
      <tbody id="sps-shot-compare-tbody"></tbody>
    </table>
  </div>
</div>