<div class="container-fluid clearfix m-1">
    <button type="button" id="btnDeleteRL" class="btn btn-sm btn-danger float-end me-2" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Delete selected lines">
        <i class="fas fa-recycle"></i>
    </button>
</div>
<div class="table-scroll border rounded">
  <table class="table table-hover table-sm table-striped mb-0"
         id="rlpreplotTable"
         data-line-click-url="{% url 'rl_line_click' %}"
  >
    <thead class="table-light">
      <tr>
       <th><input type="checkbox" id="MainRLPreplotCheckbox" data-bs-toggle="tooltip" data-bs-title="Click to select/unselect all lines"></th>
        <th>Line</th>
        <th>Points</th>
        <th>SOL</th>
        <th>EOL</th>
        <th>Length</th>
        <th>Tier</th>
      </tr>
    </thead>
    <tbody id="rlBody">
      {% for r in rl_rows %}
        <tr data-line-id="{{ r.ID }}">
          <td><input type="checkbox" class="rl-preplot-checkbox" data-line-id="{{ r.ID }}" data-tier-line ="{{ r.TierLine }}"></td>
          <td class="rline-td">{{ r.Line }}</td>
          <td class="rline-td">{{ r.Points }}</td>
          <td class="rline-td">{{ r.FirstPoint }}</td>
          <td class="rline-td">{{ r.LastPoint }}</td>
          <td class="rline-td">{{ r.LineLength|floatformat:0 }}</td>
          <td class="rline-td">{{ r.Tier }}</td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="7" class="text-muted">No data</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
