body.bg-light .level-1  { background:#dc3545; color:white; }
body.bg-light .level-2  { background:#fd7e14; color:white; }
body.bg-light .level-3  { background:#ffc107; color:black; }
body.bg-light .level-4  { background:#20c997; color:white; }
body.bg-light .level-5  { background:#0dcaf0; color:black; }
body.bg-light .level-6  { background:#0d6efd; color:white; }
body.bg-light .level-7  { background:#6f42c1; color:white; }
body.bg-light .level-8  { background:#d63384; color:white; }
body.bg-light .level-9  { background:#198754; color:white; }
body.bg-light .level-10 { background:#343a40; color:white; }
body.bg-dark .level-2  { background:#ffa94d; color:black; }
body.bg-dark .level-3  { background:#ffd43b; color:black; }
body.bg-dark .level-4  { background:#38d9a9; color:black; }
body.bg-dark .level-5  { background:#4dabf7; color:black; }
body.bg-dark .level-1  { background:#ff6b6b; color:black; }
body.bg-dark .level-6  { background:#748ffc; color:black; }
body.bg-dark .level-7  { background:#b197fc; color:black; }
body.bg-dark .level-8  { background:#f783ac; color:black; }
body.bg-dark .level-9  { background:#69db7c; color:black; }
body.bg-dark .level-10 { background:#adb5bd; color:black; }