{% extends "base.html" %}
{% load static %}

{% block title %}Base project settings — {{ project.name }}{% endblock %}

{% block content %}
<div class="container-fluid">

  <!-- HEADER CARD -->
  <div class="card shadow-sm mb-3">
    <div class="card-header clearfix">
      <h4 class="mb-0 float-start">
        <i class="fa-solid fa-database me-2"></i>
        Base project settings
        <small class="text-muted">/ {{ project.name }}</small>
      </h4>

      <!-- ICON BUTTON: OPEN MODAL -->
      <button type="button"
              class="btn  btn-success float-end me-2"
              data-bs-toggle="modal"
              data-bs-target="#csvuploadModal"
              title="Upload csv layer" >
          <i class="fas fa-file-csv"></i>

      </button>
      <button type="button"
              class="btn  btn-primary float-end me-2"
              data-bs-toggle="modal"
              data-bs-target="#uploadModal"
              title="Upload files"
      >
        <i class="fa-solid fa-upload"></i>
      </button>
    </div>
  </div>

{% include "baseproject/modal_load_file.html" %}
{% include "baseproject/modal/csv_upload_modal.html" %}
{% include "baseproject/modal/cobfirm_delete_rl.html" %}

<div class="row">
    <div class="col-4 show collapse" id="leftpreplotColumn">

        {% include "baseproject/preplot_left_panel.html" %}

    </div><!--End of left column-->
    <div class="col-8 show collapse" id="rightpreplotColumn">
        {% include "baseproject/preplot_right_panel.html" %}




    </div><!-- end of right collumn-->
</div>
</div><!-- End of container fluid-->
{% endblock %}
