<div class="card shadow collapse show" id="bbox-list-card">
    <div class="card-header ">
        <div class="clearfix bg-warning fw-bold mt-1 mb-1">
            <h5 class="float-start ms-1"><i class="fas fa-location-arrow me-2"></i> BBOX LOG LIST </h5>
            <button class="btn btn-sm float-end me-2"
                    data-bs-toggle="collapse"
                    data-bs-target="#bbox-log-card-body"
                    aria-expanded="true"
                    onclick="$('#bbox-log-toggle-icon').toggleClass('fa-window-maximize fa-window-minimize');
                                           $('#rov-stat-card-body').toggle();"

            >

                <i id="bbox-log-toggle-icon" class="fas fa-window-minimize"></i>
            </button>
        </div>
        <div class="card-body collapse show" id="bbox-log-card-body">
           <div class="table-scroll w-100" style="height: 50vh">
               <table class="table table-hover" id="bbox-file-table">
                   <thead>
                         <th><input type="checkbox" id="mainBboxFileCheckBox"></th>
                         <th>File Name</th>
                   </thead>
                   {{ bbox_file_tbody }}
               </table>
           </div>

        </div><!--End of card-body-->
        <div class="card-footer clearfix">
            <button type="button"
                    class="btn btn-danger float-end me-2"
                    id="deleteBboxFileBtn"
                    data-delete-url="{% url 'delete_bbox_files' %}">
                <i class="fas fa-trash-can me-2"></i> DELETE
            </button>
        </div>
    </div>
</div>