<div class="card shadow collapse show" id="bbox-list-card">
    <div class="card-header ">
        <div class="clearfix bg-warning fw-bold mt-1 mb-1">
            <h5 class="float-start ms-1"><i class="fas fa-location-arrow me-2"></i> BBOX LOG LIST </h5>
            <button class="btn btn-sm float-end me-2"
                    data-bs-toggle="collapse"
                    data-bs-target="#bbox-log-card-body"
                    aria-expanded="true"
                    onclick="$('#bbox-log-toggle-icon').toggleClass('fa-window-maximize fa-window-minimize');
                                           $('#rov-stat-card-body').toggle();"

            >

                <i id="bbox-log-toggle-icon" class="fas fa-window-minimize"></i>
            </button>
        </div>
        <div class="card-body collapse show" id="bbox-log-card-body">

        </div>
    </div>
</div>