<div class="card-header bg-primary clearfix p-0" id="dsr-stat-card">
    <div class="card-header ">
        <div class="clearfix bg-warning fw-bold mt-1 mb-1">
            <h6 class="float-start text-white ms-2 mt-1"><i class="fas fa-calculator me-2"></i> ROV STATISTICS </h6>
            <button class="btn btn-sm float-end me-2"
                    data-bs-toggle="collapse"
                    data-bs-target="#rov-stat-card-body"
                    aria-expanded="true"
                    onclick="$('#rov-stat-toggle-icon').toggleClass('fa-window-maximize fa-window-minimize');
                                           $('#rov-stat-card-body').toggle();"

            >

                <i id="rov-stat-toggle-icon" class="fas fa-window-minimize"></i>
            </button>
        </div>
        <div class="card-body collapse show" id="rov-stat-card-body">

        </div>
    </div>
</div>