<div class="card shadow" id="production-card">
    <div class="card-header bg-primary clearfix p-0">
        <h6 class="float-start text-white ms-2 mt-1">
            <i class="fas fa-person-digging me-2"></i>Production
        </h6>
        <button type="button"
        class="btn btn-sm float-end"
        id="prod-card-toggle-btn"
        aria-controls="prod-card-body"
        aria-expanded="true">
  <i id="prod-toggle-icon" class="fas fa-window-minimize text-white"></i>
</button>
    </div><!--End of card-header -->
    <div class="card-body" id="prod-card-body">
        <ul class="nav nav-pills mb-1 d-flex align-center" id="pills-tab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="pills-dsr-tab" data-bs-toggle="pill" data-bs-target="#pills-dsr" type="button" role="tab" aria-controls="pills-dsr" aria-selected="true">DSR</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="pills-bbox-list-tab" data-bs-toggle="pill" data-bs-target="#pills-bbox-list" type="button" role="tab" aria-controls="pills-bbox-list" aria-selected="false">BLACK BOX</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link"
                        id="daily-prod-tab" data-bs-toggle="pill"
                        data-bs-target="#pills-daily-prod"
                        type="button" role="tab" aria-controls="pills-daily-prod" aria-selected="false">
                    <i class="fas fa-calendar"></i>
                            DAILY PRODUCTION
                       </button>
            </li>
        </ul>
        <div class="tab-content mt-0" id="pills-tabContent">
               <div class="tab-pane fade show active" id="pills-dsr" role="tabpanel" aria-labelledby="pills-dsr-tab" tabindex="0">
                     <div class="clearfix mb-1">

                                {% include "rov/partials/dsr_sort_button.html" %}
                           </div>
                     {% include "rov/partials/dsr_line_table.html" %}
                      <div class="clearfix mt-2">
                       <button type="button"
                                     class="btn btn-success float-start"
                                     id="export-dsr2sps-btn"
                                     data-bs-toggle="modal"
                                     data-bs-target="#export-sps-modal"
                                     data-url ="{% url 'export_dsr_to_sps' %}"
                                     title="Click for Export selected lines to SPS ">
                                     <i class="fas fa-file-export me-2"></i> SPS
                             </button>
                       <div class="btn-group float-end" role="group">

                             <button type="button"
                                     class="btn btn-danger dropdown-toggle"
                                     data-bs-toggle="dropdown"
                                     id="dsr-delete-btn"
                                     aria-expanded="false"
                                     data-url ="{% url 'delete_selected_dsr_lines' %}">
                                     <i class="fas fa-trash-can me-2"></i> DELETE
                             </button>
                             <ul class="dropdown-menu">
                                 <li><a class="dropdown-item"  data-delete-mode="all" href="#">All</a></li>
                                 <li><a class="dropdown-item" data-delete-mode="sm" href="#">SM</a></li>
                                 <li><a class="dropdown-item" data-delete-mode="recdb" href="#">Rec DB</a></li>
                             </ul>
                       </div>
                   </div>

               </div>
               <div class="tab-pane fade" id="pills-bbox-list" role="tabpanel" aria-labelledby="pills-bbox-list-tab" tabindex="0">
                    <div class="table-scroll w-100" style="height: 50vh">
                           <table class="table table-hover" id="bbox-file-table">
                                <thead>
                                      <th><input type="checkbox" id="mainBboxFileCheckBox"></th>
                                      <th>File Name</th>
                                </thead>
                                {{ bbox_file_tbody }}
                           </table>
                    </div>
                    <div class="clearfix mt-2">
                           <button type="button"
                                   class="btn btn-danger float-end me-2"
                                   id="deleteBboxFileBtn"
                                   data-delete-url="{% url 'delete_bbox_files' %}">
                                      <i class="fas fa-trash-can me-2"></i> DELETE
                           </button>
                    </div>
               </div>
            <div class="tab-pane fade" id="pills-daily-prod" role="tabpanel" aria-labelledby="daily-prod-tab" tabindex="0">
                <div class="row">
                    <input type="date" id="production-day-select" data-dayurl ="{% url 'select_prod_day' %}">
                </div>
                <div class="w-100" id="daily-prod-container" style="height:45vh">

                </div>
            </div>

        </div>
    </div><!--End of card-body -->

</div><!-- end of card-->