{% extends "base.html" %}
{% block title %}ROV page DSR BBOX ETC — {{ project.name }}{% endblock %}
{% block content %}
<div class="container-fluid">

    <div class="card shadow-sm mb-3">
         <div class="card-header clearfix">
                  <h4 class="mb-0 float-start">
                      <i class="fa-solid fa-database me-2"></i>
                      ROV DATA
                      <small class="text-muted">/ {{ project.name }}</small>
                  </h4>
        <!-- ICON BUTTON: OPEN MODAL -->
                  <button type="button"
                          class="btn  btn-warning float-end me-2"
                          title="Upload csv layer"
                          data-bs-toggle="modal"
                          data-bs-target="#rovUploadModal"
                  >
                          <i class="fas fa-folder-open"></i>
                  </button>
                  <button type="button"
                          class="btn  btn-warning float-end me-2"
                          title="Set Black Box Log configuration "
                          data-bs-toggle="modal"
                          data-bs-target="#bbox-config-modal"
                  >
                          <i class="fas fa-gears"></i>
                  </button>
                  <button type="button"
                          id="sm-export-btn"
                          class="btn  btn-success float-end me-2"
                          title="Export curent project database to the SUrvey Manager file"
                          data-bs-toggle="modal"
                          data-bs-target="#dsrExportSmModal"
                          data-rovs-url="{% url 'dsr_rovs_for_timeframe' %}">

                          <i class="fas fa-file-export"></i>
                  </button>
         </div>
    </div>

    <div class="row">
        <div class="col-4 " id="left-rov-col">
            <div class="d-flex align-items-center mb-2">
                <!-- Left spacer -->
                <div class="flex-grow-1"></div>
                <div class="flex-grow-1 text-end">
                      <button type="button"
                                   class="btn btn-sm float-end"
                                   id = "toggle-left-rov-btn">
                                <i class="fas fa-expand" id="left-rov-toggle-icon"></i>
                      </button>
                </div>
            </div>
            {% include 'rov/cards/productions_card.html' %}
            {% include 'rov/cards/dsr_statistics.html' %}

        </div><!--End of left col-->
        <div class="col-8 show collapse" id="right-rov-col">
            <div class="d-flex align-items-center mb-2">
                <!-- Left spacer -->
                <div class="flex-grow-1"></div>
                <div>
                    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                           <li class="nav-item" role="presentation">
                                <button class="nav-link active"
                                        id="pills-survey-tab"
                                        data-bs-toggle="pill"
                                        data-bs-target="#pills-survey"
                                        type="button"
                                        role="tab"
                                        aria-controls="pills-survey"
                                        aria-selected="true">
                                    <i class="fas fa-diagram-project me-2"></i>SURVEY WIDE
                                </button>
                           </li>
                           <li class="nav-item" role="presentation">
                              <div class="hover-wrapper">
                                <button class="nav-link hover-btn"
                                        id="pills-bbox-tab"
                                        data-bs-toggle="pill"
                                        data-bs-target="#pills-bbox"
                                        data-hover-target="hoverDiv1"
                                        type="button"
                                        role="tab"
                                        aria-controls="pills-bbox"
                                        aria-selected="true">
                                    <i class="fas fa-anchor me-2"></i>BLACK BOX LOG
                                </button>
                                <!--
                                <div id="hoverDiv1" class="hover-content">
                                           <button class="btn btn-sm btn-primary qc-window-button" data-card-target ="gnss-qc-card">GNSS</button>
                                           <button class="btn btn-sm btn-primary qc-window-button" data-card-target ="hdop-qc-card">PDOP</button>
                                           <button class="btn btn-sm btn-primary qc-window-button" data-card-target ="depth-comparison-card">DEPTH</button>
                                           <button class="btn btn-sm btn-primary qc-window-button" data-card-target ="vessel-sog-card"> SOG</button>
                                           <button class="btn btn-sm btn-primary qc-window-button" data-card-target ="drift-qc-card">DRIFT</button>
                                </div>
                                -->
                              </div>
                           </li>
                           <li class="nav-item" role="presentation">
                                <button class="nav-link"
                                        id="pills-line-tab"
                                        data-bs-toggle="pill"
                                        data-bs-target="#pills-line"
                                        type="button"
                                        role="tab"
                                        aria-controls="pills-line"
                                        aria-selected="true">
                                    <i class="fas fa-arrow-down-up-across-line me-2"></i>LINE:
                                </button>
                           </li>
                    </ul>
                </div>
                <div class="flex-grow-1 text-end">
                      <button type="button"
                                   class="btn btn-sm float-end"
                                   id = "toggle-right-rov-btn">
                                <i class="fas fa-expand" id="right-rov-toggle-icon"></i>
                      </button>
                </div>
            </div>
            <div class="tab-content" id="pills-tabContent">
                  <div class="tab-pane fade show active" id="pills-survey" role="tabpanel" aria-labelledby="pills-survey-tab">
                        {% include "rov/partials/sv_map_tabs.html" %}
                  </div>
                  <div class="tab-pane fade" id="pills-bbox" role="tabpanel" aria-labelledby="pills-bbox-tab">
                      {% include "rov/partials/bbox_file_selected_plots.html" %}
                  </div>
                  <div class="tab-pane fade" id="pills-line" role="tabpanel" aria-labelledby="pills-line-tab">
                      <div id="dsr-qc-root"
                            data-plot-item-url="{% url 'dsr_line_qc_plot_item' %}">
                            {% include "rov/partials/selected_line_qc_tabs.html" %}
                      </div>
                  </div>
            </div>
        </div><!--End of right col-->
    </div><!--End of row-->
</div><!-- End of container fluid-->
{% include "rov/modals/rov_upload_modal.html" %}
{% include "rov/modals/dsr_line_filter_modal.html" %}
{% include "rov/modals/bbox_config_modal.html" %}
{% include "rov/modals/export_to_sm_modal.html" %}
{% include "rov/modals/export_to_sps_modal.html" %}
{% include "rov/partials/toast_container_rov.html" %}

{% endblock %}