<div class="modal fade" id="bbox-config-modal" tabindex="-1" aria-hidden="true">
             <div class="modal-dialog modal-dialog-centered  modal-lg">
                         <div class="modal-content">
                                  <div class="modal-header">
                                      <h5><i class="fas fa-sliders me-2"></i> NEW BLACK BOX LOG CONFIG  </h5>
                                  </div>
                                  <div class="modal-body">
                                           <form id="bbox-config-form" method="post" action="{% url 'save_bbox_config' %}">
                                      <input id="bbox-file-input"
                                             class="form-control"
                                             type="file"
                                             accept=".csv"
                                             name="csv_file"
                                             data-headers-url="{% url 'csv_headers' %}">
                                       <div class="mb-2">
                                          <label for="layer-name" class="form-label">Config Name</label>
                                          <input id="layer-name" name="layer_name" class="form-control">
                                       </div>
                                       <div class="mt-2 mb-2 w-100">
                                             <table class="table table-hover">
                                                    <tbody>
                                                        <tr><td colspan="2">
                                                            <div class="input-group mb-3">
                                                                     <span class="input-group-text" id="basic-addon1">VESSEL NAME</span>
                                                                     <input type="text"
                                                                            class="form-control"
                                                                            placeholder="Vessel name"
                                                                            aria-label="Vessel name"
                                                                            name="vessel_name"
                                                                            id="vessel-name"
                                                                            aria-describedby="basic-addon1">
                                                            </div>
                                                        </td> </tr>
                                                        <tr>
                                                            <td>
                                                                <div class="input-group mb-3">
                                                                     <span class="input-group-text" id="basic-addon1">ROV 1</span>
                                                                     <input type="text" id="rov1-name" name="rov1_name">
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <div class="input-group mb-3">
                                                                     <span class="input-group-text" id="basic-addon1">ROV 2</span>
                                                                     <input type="text" id="rov2-name" name="rov2_name">
                                                                </div>
                                                            </td>
                                                        </tr>
                                                           <tr>
                                                              <td>
                                                                <div class="input-group mb-3">
                                                                     <span class="input-group-text" id="basic-addon1">GNSS 1</span>
                                                                     <input type="text" id="gnss1-name" name="gnss1_name">
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <div class="input-group mb-3">
                                                                     <span class="input-group-text" id="basic-addon1">GNSS 2</span>
                                                                     <input type="text" id="gnss2-name" name="gnss2_name">
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                             </table>
                                       </div>
                                       {{ bbox_fields_selectors|safe }}

                                   </form>
                                  <div id="csvErr" class="alert alert-danger d-none mt-2"></div>
                                  </div>
                                  <div class="modal-footer">
                                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                            Cancel
                                      </button>
                                      <button id="btnSaveBBoxCfg"
                                              type="button"
                                              class="btn btn-danger">
                                          <i class="fas fa-floppy-disk me-2"></i>Save
                                      </button>
                                  </div>
                         </div>
             </div>
</div>